#game {
  margin: 2rem;
  display: none;
}

#game-board {
  list-style: none;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr 1fr;
  width: 500px;
  height: 500px;
  padding: 0px;
  margin: 2rem auto;
}

#game-board li {
  border-radius: 8px;
  align-content: center;
}

#game-board li:hover {
  background-color: rgb(115, 180, 236);
  cursor: pointer;
}

#game-board li.clicked:hover {
  cursor: default;
}

.not-clicked {
  background-color: rgb(186, 220, 250);
}

.clicked {
  background-color: rgb(115, 180, 236);
}
